

section
  h3 Does this work?
  ol
    li Download the project
      p http://tiny.cc/scalatutorial
    li Run "./sbt" at the command line in the project folder
    li Once ">" appears, run "compile" to build the project
    li Success!
