



section.intro.white(data-background="intro_images/grunge_red.jpg")
  h1(style="font-size: 6em; ")
    b Q 
    | & 
    b A 


section.intro.chapter.white(data-background="intro_images/grunge_red.jpg")
  h1 Thanks Everyone!
  br
  br
  br
  h4 Kelsey Gilmore-Innis (@kelseyinnis)